.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  outline: solid;
  outline-color: grey;
  background-color: rgb(16, 16, 16);
  flex: 1;
  height: 100%;
}

.todoItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todoContainer:hover {
  cursor: pointer;
}
