.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  outline: solid;
}

.todoItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todoContainer {
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  user-select: none;
}

.todoContainer:hover {
  cursor: pointer;
}
