.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px 10px;
}

.sidebar > *:not(:last-child) {
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.header {
  flex: 0 0 5%;
  font-weight: bolder;
}

.navigation {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
}

.navLink {
  text-decoration: none;
  color: inherit;
  padding: 5px 5px;
}

.navLink.active {
  background-color: grey;
  border-radius: 6px;
}

.projects {
  flex: 0 0 17%;
}

.profile {
  margin-top: auto;
}
