.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: rgb(99, 55, 122);
  color: white;
}

.sidebarDiv {
  flex: 0 0 20%;
}

.content {
  flex: 1;
}
